@-webkit-keyframes heart {
  0%, 40%, 80%, 100% {
    transform: scale(1);
  }
  20%, 60% {
    transform: scale(1.15);
  }
}
@keyframes heart {
  0%, 40%, 80%, 100% {
    transform: scale(1);
  }
  20%, 60% {
    transform: scale(1.15);
  }
}
.md-typeset .twitter {
  color: #00acee;
}
.md-typeset .mdx-video {
  width: auto;
}
.md-typeset .mdx-video__inner {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.138%;
}
.md-typeset .mdx-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: none;
}
.md-typeset .mdx-heart {
  -webkit-animation: heart 1000ms infinite;
          animation: heart 1000ms infinite;
}
.md-typeset .mdx-insiders {
  color: #e91e63;
}
.md-typeset .mdx-switch button {
  cursor: pointer;
  transition: opacity 250ms;
}
.md-typeset .mdx-switch button:focus, .md-typeset .mdx-switch button:hover {
  opacity: 0.75;
}
.md-typeset .mdx-switch button > code {
  display: block;
  color: var(--md-primary-bg-color);
  background-color: var(--md-primary-fg-color);
}
.md-typeset .mdx-deprecated {
  opacity: 0.5;
  transition: opacity 250ms;
}
.md-typeset .mdx-deprecated:focus-within, .md-typeset .mdx-deprecated:hover {
  opacity: 1;
}
.md-typeset .mdx-columns ol,
.md-typeset .mdx-columns ul {
  columns: 2;
}
@media screen and (max-width: 29.9375em) {
  .md-typeset .mdx-columns ol,
.md-typeset .mdx-columns ul {
    columns: initial;
  }
}
.md-typeset .mdx-columns li {
  break-inside: avoid;
}
.md-typeset .mdx-author {
  display: flex;
  font-size: 0.68rem;
}
.md-typeset .mdx-author img {
  height: 2rem;
  border-radius: 100%;
}
.md-typeset .mdx-author p:first-child {
  flex-shrink: 0;
  margin-right: 0.8rem;
}
.md-typeset .mdx-author p > span {
  display: block;
}

.md-banner a,
.md-banner a:focus,
.md-banner a:hover {
  color: currentcolor;
}
.md-banner strong {
  white-space: nowrap;
}
[dir="ltr"] .md-banner .twitter {
  margin-left: 0.2em;
}
[dir="rtl"] .md-banner .twitter {
  margin-right: 0.2em;
}

.mdx-container {
  padding-top: 1rem;
}

.mdx-hero {
  margin: 0 0.8rem;
  color: var(--md-primary-bg-color);
}
.mdx-hero h1 {
  margin-bottom: 1rem;
  color: var(--md-code-hl-name-color);
  font-weight: 700;
  font-size: 2.4rem;
}
.mdx-hero h1 span {
  font-size: 3.6rem;
}
@media screen and (max-width: 29.9375em) {
  .mdx-hero h1 span {
    font-size: 2.1rem;
  }
}
@media screen and (max-width: 29.9375em) {
  .mdx-hero h1 {
    font-size: 1.4rem;
  }
}
.mdx-hero__content {
  text-align: center;
}
.mdx-hero__content p {
  font-size: 1.2rem;
  color: var(--md-code-hl-name-color);
  line-height: 1.6rem;
  padding: 0px 6rem;
}
@media screen and (max-width: 29.9375em) {
  .mdx-hero__content p {
    padding: 12px;
    font-size: 1rem;
  }
}
@media screen and (min-width: 60em) {
  .mdx-hero {
    display: flex;
    align-items: center;
  }
  .mdx-hero__content {
    width: 90%;
    margin: 79px auto;
    text-align: center;
    margin-top: 5.5rem;
  }
  .mdx-hero__image {
    order: 1;
    width: 38rem;
    transform: translateX(4rem);
  }
}
@media screen and (min-width: 76.25em) {
  .mdx-hero__image {
    transform: translateX(8rem);
  }
}
.mdx-hero .md-button {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  color: var(--md-primary-bg-color);
  border: 2px solid var(--md-primary-fg-color);
  border-radius: 5px;
}
.mdx-hero .md-button:focus, .mdx-hero .md-button:hover {
  color: var(--md-accent-bg-color);
  background-color: var(--md-accent-fg-color);
  border-color: var(--md-accent-fg-color);
}
.mdx-hero .md-button--primary {
  color: var(--md-footer-fg-color);
  background-color: var(--md-primary-fg-color--light);
  border-color: var(--md-primary-fg-color--light);
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}
.main h2 {
  text-align: center;
  font-size: 1.2rem;
}

h1 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.nav-button {
  padding: 0.6rem;
  font-size: 0.8rem;
  color: var(--md-primary-fg-color--light);
  background-color: var(--md-default-bg-color);
  border: 2px solid var(--md-primary-bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-button svg {
  height: 24px;
  fill: var(--md-primary-fg-color--light);
}
.nav-button:focus, .nav-button:hover {
  color: var(--md-accent-bg-color);
  background-color: var(--md-accent-fg-color);
  border-color: var(--md-accent-fg-color);
}
.nav-button:focus svg, .nav-button:hover svg {
  fill: var(--md-accent-bg-color);
}
.nav-button--primary {
  color: var(--md-primary-fg-color--light);
  border-color: var(--md-primary-fg-color--light);
}

.list-wrapper {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 12px;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.list-item {
  display: flex;
  gap: 12px;
}
.list-item:hover {
  border-color: var(--md-primary-fg-color--light);
}
.list-item a:hover {
  color: var(--md-primary-fg-color--light);
  border-color: var(--md-primary-fg-color--light);
}
.list-item a {
  font-size: 1rem;
  padding: 1.7rem;
  border: 1px solid var(--md-typeset-table-color);
  border-radius: 10px;
}
@media screen and (max-width: 29.9375em) {
  .list-item a {
    font-size: 0.8rem;
    padding: 0.6rem;
  }
}

@media (min-width: 40rem) {
  .cards_item {
    width: 25%;
  }
}
@media (min-width: 56rem) {
  .cards_item {
    width: 20%;
  }
}
.card {
  background-color: white;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
  padding: 1rem;
  color: black;
}

.md-typeset .mdx-iconsearch {
  position: relative;
  background-color: var(--md-default-bg-color);
  border-radius: 0.1rem;
  box-shadow: var(--md-shadow-z1);
  transition: box-shadow 125ms;
}
.md-typeset .mdx-iconsearch:focus-within, .md-typeset .mdx-iconsearch:hover {
  box-shadow: var(--md-shadow-z2);
}
.md-typeset .mdx-iconsearch .md-input {
  background: var(--md-default-bg-color);
  box-shadow: none;
}
[data-md-color-scheme=slate] .md-typeset .mdx-iconsearch .md-input {
  background: var(--md-code-bg-color);
}
.md-typeset .mdx-iconsearch-result {
  max-height: 50vh;
  overflow-y: auto;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  touch-action: pan-y;
  scrollbar-width: thin;
  scrollbar-color: var(--md-default-fg-color--lighter) transparent;
}
.md-tooltip .md-typeset .mdx-iconsearch-result {
  max-height: 10.25rem;
}
.md-typeset .mdx-iconsearch-result::-webkit-scrollbar {
  width: 0.2rem;
  height: 0.2rem;
}
.md-typeset .mdx-iconsearch-result::-webkit-scrollbar-thumb {
  background-color: var(--md-default-fg-color--lighter);
}
.md-typeset .mdx-iconsearch-result::-webkit-scrollbar-thumb:hover {
  background-color: var(--md-accent-fg-color);
}
.md-typeset .mdx-iconsearch-result__meta {
  position: absolute;
  top: 0.4rem;
  right: 0.6rem;
  color: var(--md-default-fg-color--lighter);
  font-size: 0.64rem;
}
[dir="ltr"] .md-typeset .mdx-iconsearch-result__list {
  margin-left: 0;
}
[dir="rtl"] .md-typeset .mdx-iconsearch-result__list {
  margin-right: 0;
}
.md-typeset .mdx-iconsearch-result__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
[dir="ltr"] .md-typeset .mdx-iconsearch-result__item {
  margin-left: 0;
}
[dir="rtl"] .md-typeset .mdx-iconsearch-result__item {
  margin-right: 0;
}
.md-typeset .mdx-iconsearch-result__item {
  margin: 0;
  padding: 0.2rem 0.6rem;
  border-bottom: 0.05rem solid var(--md-default-fg-color--lightest);
}
.md-typeset .mdx-iconsearch-result__item:last-child {
  border-bottom: none;
}
.md-typeset .mdx-iconsearch-result__item > * {
  margin-right: 0.6rem;
}
.md-typeset .mdx-iconsearch-result__item img {
  width: 0.9rem;
  height: 0.9rem;
}
[data-md-color-scheme=slate] .md-typeset .mdx-iconsearch-result__item img[src*=squidfunk] {
  filter: invert(1); /* stylelint-disable-line */
}

.md-typeset .mdx-premium p {
  margin: 2em 0;
  text-align: center;
}
.md-typeset .mdx-premium img {
  height: 3.25rem;
}
.md-typeset .mdx-premium p:last-child {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.md-typeset .mdx-premium p:last-child > a {
  display: block;
  flex-shrink: 0;
}
.md-typeset .mdx-sponsorship__list {
  margin: 2em 0;
}
.md-typeset .mdx-sponsorship__list::after {
  display: block;
  clear: both;
  content: "";
}
.md-typeset .mdx-sponsorship__item {
  display: block;
  float: left;
  width: 1.6rem;
  height: 1.6rem;
  margin: 0.2rem;
  overflow: hidden;
  border-radius: 100%;
  transform: scale(1);
  transition: color 125ms, transform 125ms;
}
.md-typeset .mdx-sponsorship__item:focus, .md-typeset .mdx-sponsorship__item:hover {
  transform: scale(1.1);
}
.md-typeset .mdx-sponsorship__item:focus img, .md-typeset .mdx-sponsorship__item:hover img {
  filter: grayscale(0%);
}
.md-typeset .mdx-sponsorship__item--private {
  color: var(--md-default-fg-color--lighter);
  font-weight: 700;
  font-size: 0.6rem;
  line-height: 1.6rem;
  text-align: center;
  background: var(--md-default-fg-color--lightest);
}
.md-typeset .mdx-sponsorship__item img {
  display: block;
  width: 100%;
  height: auto;
  filter: grayscale(100%) opacity(75%);
  transition: filter 125ms;
}
.md-typeset .mdx-sponsorship-button {
  font-weight: 400;
}
.md-typeset .mdx-sponsorship-count,
.md-typeset .mdx-sponsorship-total {
  font-weight: 700;
}